.container {
}

.headers {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
    to right top,
    #0e2649,
    #2f3868,
    #534a86,
    #7c5ba2,
    #a86bbb
  );
}

.buttons {
  background-image: linear-gradient(
    to right bottom,
    #0e2649,
    #2f3868,
    #534a86,
    #7c5ba2,
    #a86bbb
  );
  padding-bottom: 100px;
}

.row {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1.2%;
}

#awards {
  background-color: #ffc00a;
}

#experience {
  background-color: #45a3e5;
}

#contact {
  background-color: #66bf39;
}

#projects {
  background-color: #ff3555;
}

.navbutton {
  width: 48%;
  display: inline-block;
  text-align: center;
  height: 400px;
  border-radius: 10px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 100px;
}

h3 {
  color: white;
  text-align: center;
  font-size: 40px;
}

a {
  -webkit-transform: translateY(175px);
  vertical-align: middle;
  text-decoration: none;
  color: whitesmoke;
  display: block;
  font-size: 50px;
}
