.container {
  justify-content: center;
}

.headers {
  padding-top: 250px;
  padding-bottom: 250px;
}

.buttons {
  width: 100%;
  text-align: center;
  padding-bottom: 250px;
  display: block;
}

#awards {
}

#awards:hover {
}

#experience {
}

#contact {
}

#projects {
}

h1 {
  color: white;
  text-align: center;
  font-size: 100px;
}

h3 {
  color: white;
  text-align: center;
  font-size: 40px;
}

a {
  font-size: 40px;
  display: inline-block;
  padding: 40px 20px;
  color: white;
  text-decoration: none;
  width: 20%;
  border-radius: 20px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  border: 4px solid #83d0cb;
  transition: 0.2s;
}

a:hover {
  background-color: #ffffff50;
}
